body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b91450;
}

.container {
    background-color: #fff;
}

#generatore .row {
    min-height: 100px;
}

/*#generatore .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}*/

